<nav class="navbar">
  <div class="navbar-container">

    <a href="#" class="logo">
      <img src="/static/img/public/logo.jpg" alt="logo">
      <span>Vivero Biotecnologico</span>
    </a>

    <div class="navbar-right">
        <button class="btn-start" onclick="window.location.href='login'">
            Iniciar Sesión
        </button>
      <button class="menu-btn">
        ☰
      </button>
    </div>

    <div class="navbar-links">
      <ul>
        <li><a class="active" href="/">Inicio</a></li>
        <li><a href="/informacion">Informacion</a></li>
        <li><a href="/contacto">Contacto</a></li>
      </ul>
    </div>

  </div>
</nav>
