<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Mi App{% endblock %}</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='css/public/navbar.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/public/app.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/public/login.css') }}">
  {% block page_css %}{% endblock %}
</head>
<body>

  {% include "public/base.html" %}

  <main class="main-content">
    {% block content %}{% endblock %}
  </main>

</body>
</html>
